.signUp{
    width: 37vw;
    height: 70vh;
    /*background-color: rgb(176, 227, 238);*/
    background: transparent;
    border-radius: 25px 25px 25px 25px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.4); 
    backdrop-filter: blur(30px);
    border: 2px solid rgba(255,255,255,.2);
    

}
.signUp h1{
    font-size: 50px;
}
.signUp .text{
    width: 100%;
}

