h1{
    color: black;
}
.mainPage{
    width: 100vw;
    display: flex;
    justify-content:  center;
    align-items: center;
    flex-direction: column;
}
.loginWin{
    width: 35vw;
    height: 68vh;
   /* background-color: rgb(176, 227, 238);*/
    background: transparent;
    border-radius: 25px 25px 25px 25px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.4); 
    backdrop-filter: blur(30px);
    border: 2px solid rgba(255,255,255,.2);
    margin-top: 60px;
    color: black;
}
.textBoxes-Login{
    display: flex;
    flex-direction: column;
    color: black;
    margin-top: 50px;
}
.underText{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    color: black;
    font-size: 14px;
}


  