.head{
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.4);
}
.mainNav{
    margin-top: 10px;
    background-color: transparent;
    padding: 15px;
    
}
.navLink{
    margin: 30px;
    text-decoration: none;
    color: black
}
img{
    width: 100px;
    margin-right: 10px;
}
